body {
    background-image: url('sign.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

.signin-container {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
}

.signin-container h2 {
    text-align: center;
    color: white;
}

.signin-container input[type="email"],
.signin-container input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.signin-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.signin-container button:hover {
    background-color: #45a049;
}

.signin-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: black;
}